.Register {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .Register  h2 {
    text-align: center;
    font-size: 2rem;
  }
  
  .Register form {
    display: flex;
    flex-direction: column;
  }
  
  .Register span {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .Register input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .Register select {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%; 
  }

  .Register  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .Register button:hover {
    background-color: #45a049;
  }
  
  .Signup {
    display: flex;
    gap: 1rem;
  }